@{
    Layout = null;
}

<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Welcome to anket</h1>
    <p>Fill fields pls</p>
    <br />
    <form method="post">
        <lable>Surname</lable><br />
        <input name="surname" /><br />
        <lable>Name</lable><br />
        <input name="name" /><br />
        <lable>Age</lable><br />
        <input name="age" /><br />
        <lable>Specialisation</lable><br />
        <input name="specialisation" /><br />
        <lable>Adress</lable><br />
        <input name="adress" /><br />
        <lable>Phone</lable><br />
        <input name="phone" /><br />
        <br />
        <input type="submit" />
        </form>
    </body>
</html>
