@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Tets questions</h1>
    <form method="post" action="Finish">
        <lable>Profession description</lable><br />
        <input name="profdescr" /><br />
        <button>Send</button>
    </form>
</body>

</html>
